.iconPDF {
  mask-image: url("file-pdf-regular-full.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-image: url("file-pdf-regular-full.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}

/* .iconPlus:hover {
    background-color: rgba(0, 0, 0, 0.6);
  } */
