:root {
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-xs: 1.2rem;
  --fs-sm: 1.4rem;
  --fs-regular: 1.6rem;
  --fs-lg: 3.2rem;
  --fs-xl: 4.8rem;

  --fs-base: var(--fs-regular);
  --fs-heading-sm: var(--fs-lg);
  --fs-heading-lg: var(--fs-lg);

  --fw-regular: 400;
  --fw-bold: 500;
}

@media (min-width: 500px) {
  :root {
    --fs-heading-sm: var(--fs-lg);
    --fs-heading-lg: var(--fs-xl);
  }
}

.font_base {
  font-size: var(--fs-heading-lg);
  font-weight: var(--fw-regular);
}

.font_base--bold {
  font-size: var(--fs-heading-lg);
  font-weight: var(--fs-bold);
}

.font_heading--sm {
  font-size: var(--fs-heading-lg);
  font-weight: var(--fw-bold);
}

.font_heading--lg {
  font-size: var(--fs-heading-lg);
  font-weight: var(--fw-bold);
}
