@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fs-xs: 1.2rem;
  --fs-sm: 1.4rem;
  --fs-md: 1.6rem;
  --fs-lg: 2rem;
  --fs-xl: 2.2rem;
  --fs-2xl: 3.8rem;

  --fw-base: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --color-accent: rgba(159, 193, 255, 1);
  --color-accent_opacity: rgba(159, 193, 255, 0.64);
  --color-accent_dark: rgba(101, 130, 255, 1);

  --color-grey_secondary: rgba(193, 193, 193, 1);

  --color-bg_dark: rgba(245, 245, 245, 1);
  --color-bg_light: rgba(251, 251, 251, 1);

  --color-error: rgba(255, 87, 87, 1);

  --color-text-base: rgba(66, 66, 66, 1);
}

@media (min-width: 500px) {
  :root {
    --fs-xl: 3.2rem;
    --fs-2xl: 4.8rem;
  }
}

@layer base {
  body {
    color: var(--color-text-base);
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--fs-md);
}
