@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fs-xs: 1.2rem;
  --fs-sm: 1.2rem;
  --fs-md: 1.4rem;
  --fs-lg: 2rem;
  --fs-xl: 2.2rem;
  --fs-2xl: 3.8rem;

  --fw-base: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --color-accent: rgb(194, 215, 255);
  --color-accent_dark: rgba(101, 130, 255, 1);
  --color-accent_light: rgba(159, 193, 255, 1);

  --color-grey_secondary: rgba(193, 193, 193, 1);

  --color-bg_dark: rgba(245, 245, 245, 1);
  --color-bg_light: rgba(251, 251, 251, 1);

  --color-error: rgba(255, 87, 87, 1);

  --color-text-base: rgba(66, 66, 66, 1);
}

@media (min-width: 500px) {
  :root {
    --fs-sm: 1.4rem;
    --fs-md: 1.6rem;
    --fs-xl: 3.2rem;
    --fs-2xl: 4.8rem;
  }
}

@layer base {
  body {
    color: var(--color-text-base);
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--fs-md);
}

/* util classes */
.shadow-border-box {
  @apply space-y-2 rounded-md shadow-default border border-default bg-bg_light;
}

.btn {
  @apply text-white bg-accent hover:bg-accent;
}

.btn-primary {
  @apply rounded-lg px-16 py-2 text-lg;
}

.btn-primary-rounded {
  @apply rounded-full px-4 py-1 text-sm;
}
