@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fs-xs: 1.2rem;
  --fs-sm: 1.4rem;
  --fs-base: 1.6rem;
  --fs-lg: 2rem;
  --fs-xl: 2.2rem;
  --fs-2xl: 3.8rem;

  --fw-base: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --color-text-base: rgba(66, 66, 66, 1);
}

@media (min-width: 500px) {
  :root {
    --fs-xl: 3.2rem;
    --fs-2xl: 4.8rem;
  }
}

@layer base {
  body {
    color: var(--color-text-base);
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--fs-base);
}
