@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fs-2xs: 1rem;
  --fs-xs: 1.2rem;
  --fs-sm: 1.2rem;
  --fs-md: 1.2rem;
  --fs-lg: 1.8rem;
  --fs-xl: 2.2rem;
  --fs-2xl: 3.8rem;

  --fw-base: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --color-accent: #99b7ef;
  --color-accent_dark: rgba(101, 130, 255, 1);
  --color-accent_light: rgba(226, 236, 255, 1);
  --color-accent_opacity: rgba(101, 130, 255, 0.3);

  --color-bg_dark: rgba(245, 245, 245, 1);
  --color-bg_light: rgba(251, 251, 251, 1);

  --color-font_dark: rgba(66, 66, 66, 1);
  --color-font_light: rgba(193, 193, 193, 1);

  --color-error: rgba(255, 87, 87, 1);
}

@media (min-width: 500px) {
  :root {
    --fs-sm: 1.4rem;
    --fs-md: 1.6rem;
    --fs-lg: 2rem;
    --fs-xl: 3.2rem;
    --fs-2xl: 4.8rem;
  }
}

@layer base {
  body {
    color: var(--color-font_dark);
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--fs-md);
}

/* util classes */
.shadow-border-box {
  @apply space-y-2 rounded-md border border-default bg-bg_light shadow-default md:rounded-lg;
}

.btn-primary {
  @apply border border-accent bg-accent px-12 py-5 hover:!bg-white hover:text-accent;
}

.btn-primary-rounded {
  @apply rounded-full border border-accent bg-accent px-4 py-2 text-sm hover:bg-white hover:text-accent md:px-8;
}

.table-highlighted tr:nth-child(even) {
  background-color: var(--color-bg_dark);
}

/* text editor */
.textEditorLink a {
  @apply text-blue-600 underline;
}

.textEditorTags {
  @apply [&_a]:text-accent_dark [&_a]:underline [&_h3]:text-lg;
}

.texEditorPlaceholder p.is-editor-empty:first-child::before {
  @apply text-sm text-font_light;
  content: attr(data-placeholder);
}
